#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

include /usr/share/dpkg/pkg-info.mk

VERSION_SUFFIX = "+$(DEB_VERSION)"

trayicon_version := $(shell debian/scripts/get-proj-version.sh GtkStatusIcon/GtkStatusIconPlugin.csproj)$(VERSION_SUFFIX)
launcher_version := $(shell debian/scripts/get-proj-version.sh UnityLauncherPlugin/UnityLauncherPlugin.csproj)$(VERSION_SUFFIX)
libdbus_version := $(shell debian/scripts/get-proj-version.sh DBus/DBus.csproj)$(VERSION_SUFFIX)
libimagemagick_version := $(shell debian/scripts/get-proj-version.sh ImageMagick/ImageMagick.csproj)$(VERSION_SUFFIX)
libunity_version := $(shell debian/scripts/get-proj-version.sh libunity-sharp/libunity-sharp.csproj)$(VERSION_SUFFIX)
stausnotifier_version := $(shell debian/scripts/get-proj-version.sh StatusNotifierPlugin/StatusNotifierPlugin.csproj)$(VERSION_SUFFIX)

%:
	dh $@ --with cli

override_dh_auto_clean:
	xbuild /target:Clean /property:Configuration=Release Keebuntu.sln
	dh_auto_clean

override_dh_auto_build:
	xbuild /property:Configuration=Release Keebuntu.sln

override_dh_install:
	dh_install --exclude=.mdb --exclude=KeePass

override_dh_clideps:
	dh_clideps --exclude-moduleref=libMagickWand --exclude-moduleref=libdbusmenu-glib --exclude-moduleref=libunity

override_dh_gencontrol:
	dh_gencontrol -pkeepass2-plugin-tray-icon -- -v$(trayicon_version) -Vlibdbus:Version=$(libdbus_version) -Vlibimagemagick:Version=$(libimagemagick_version)
	dh_gencontrol -pkeepass2-plugin-launcher -- -v$(launcher_version) -Vlibdbus:Version=$(libdbus_version) -Vlibunity:Version=$(libunity_version)
	dh_gencontrol -pkeepass2-plugin-libdbus -- -v$(libdbus_version)
	dh_gencontrol -pkeepass2-plugin-libimagemagick -- -v$(libimagemagick_version)
	dh_gencontrol -pkeepass2-plugin-libunity -- -v$(libunity_version) -Vlibdbusmenu:Version=$(libunity_version)
	dh_gencontrol -pkeepass2-plugin-libdbusmenu -- -v$(libunity_version)
	dh_gencontrol -pkeepass2-plugin-status-notifier -- -v$(stausnotifier_version) -Vlibdbus:Version=$(libdbus_version) -Vlibimagemagick:Version=$(libimagemagick_version)
